


        <tr>
          <td><%= mask.areaId %></td>
          <td><%= mask.amount %></td>
          <td><%= link_to 'Show', mask %></td>
          <td><%= link_to 'Edit', edit_mask_path(mask) %></td>
          <td><%= link_to 'Destroy', mask, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
   
