<%= form_with(model: mask, local: true) do |form| %>
  <% if mask.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mask.errors.count, "error") %> prohibited this mask from being saved:</h2>

      <ul>
      <% mask.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :areaId %>
    <%= form.text_field :areaId, id: :mask_areaId %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :mask_amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
