<p id="notice"><%= notice %></p>

<p>
  <strong>Areaid:</strong>
  <%= @mask.areaId %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @mask.amount %>
</p>

<%= link_to 'Edit', edit_mask_path(@mask) %> |
<%= link_to 'Back', masks_path %>
