<%= @data%>

   
        <%
=begin%>
 <h3><%= @x.userId %></h3>
        <h3><%= @x.password %></h3>
        <h3><%= @x.email %></h3>
        <h3><%= @x.name %></h3>
        <h3><%= @x.email %></h3>
        <h3><%= @x.address %></h3>
        <h3><%= @x.address1 %></h3>
        <h3><%= @x.role %></h3> 
<%
=end%>
        
